<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    </properties>
    <typeAliases>
        <typeAlias type="org.example.models.persons.Position"/>
        <typeAlias type="org.example.models.hospital.Procedure"/>
        <typeAlias type="org.example.models.hospital.ExaminationRoom"/>
        <typeAlias type="org.example.models.persons.Specialization"/>
        <typeAlias type="org.example.models.persons.Nurse"/>
        <typeAlias type="org.example.models.hospital.Department"/>
        <typeAlias type="org.example.models.persons.Physician"/>
        <typeAlias type="org.example.models.persons.Patient"/>
        <typeAlias type="org.example.models.hospital.DepartmentsHasNurse"/>
        <typeAlias type="org.example.models.hospital.Medication"/>
        <typeAlias type="org.example.models.hospital.Manufacturer"/>
        <typeAlias type="org.example.models.hospital.Appointment"/>
        <typeAlias type="org.example.models.hospital.Prescription"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper\position-mapper.xml"/>
        <mapper resource="mapper\procedure-mapper.xml"/>
        <mapper resource="mapper\examination-room-Mapper.xml"/>
        <mapper resource="mapper\specialization-mapper.xml"/>
        <mapper resource="mapper\nurse-mapper.xml"/>
        <mapper resource="mapper\department-mapper.xml"/>
        <mapper resource="mapper\physician-mapper.xml"/>
        <mapper resource="mapper\patient-mapper.xml"/>
        <mapper resource="mapper\department-has-nurse-mapper.xml"/>
        <mapper resource="mapper\manufacturer-mapper.xml"/>
        <mapper resource="mapper\medication-mapper.xml"/>
        <mapper resource="mapper\appointment-mapper.xml"/>
        <mapper resource="mapper\prescription-mapper.xml"/>
    </mappers>
</configuration>