<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties">
    </properties>
    <typeAliases>
        <typeAlias type="org.example.models.persons.Position"/>
        <typeAlias type="org.example.models.hospital.Procedure"/>
        <typeAlias type="org.example.models.hospital.ExaminationRoom"/>
        <typeAlias type="org.example.models.persons.Specialization"/>
        <typeAlias type="org.example.models.persons.Nurse"/>
        <typeAlias type="org.example.models.hospital.Department"/>
        <typeAlias type="org.example.models.persons.Physician"/>
        <typeAlias type="org.example.models.persons.Patient"/>
        <typeAlias type="org.example.models.hospital.DepartmentsHasNurse"/>
        <typeAlias type="org.example.models.hospital.Medication"/>
        <typeAlias type="org.example.models.hospital.Manufacturer"/>
        <typeAlias type="org.example.models.hospital.Appointment"/>
        <typeAlias type="org.example.models.hospital.Prescription"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper\PositionMapper.xml"/>
        <mapper resource="mapper\ProcedureMapper.xml"/>
        <mapper resource="mapper\ExaminationRoomMapper.xml"/>
        <mapper resource="mapper\SpecializationMapper.xml"/>
        <mapper resource="mapper\NurseMapper.xml"/>
        <mapper resource="mapper\DepartmentMapper.xml"/>
        <mapper resource="mapper\PhysicianMapper.xml"/>
        <mapper resource="mapper\PatientMapper.xml"/>
        <mapper resource="mapper\DepartmentHasNurseMapper.xml"/>
        <mapper resource="mapper\ManufacturerMapper.xml"/>
        <mapper resource="mapper\MedicationMapper.xml"/>
        <mapper resource="mapper\AppointmentMapper.xml"/>
        <mapper resource="mapper\PrescriptionMapper.xml"/>
    </mappers>
</configuration>