<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.example.interfaces.IManufacturerDAO">
    <resultMap id="ManufacturerResultMap" type="Manufacturer">
        <result property="manufacturerID" column="manufacturer_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
    </resultMap>
    <insert id="saveEntity" keyProperty="manufacturer_id">
        INSERT INTO manufacturers (manufacturer_id, name, address) VALUES (#{manufacturer_id}, #{name}, #{address})
    </insert>
    <update id="updateEntity" parameterType="Manufacturer">
        UPDATE manufacturer SET name = #{name}, address = #{address} WHERE manufacturer_id = #{manufacturer_id}
    </update>
    <delete id="removeEntityByID" parameterType="int">
        DELETE FROM manufacturers WHERE manufacturer_id = #{manufacturer_id}
    </delete>
    <select id="getEntityByID" parameterType="int" resultMap="ManufacturerResultMap">
        SELECT * FROM manufacturers WHERE manufacturer_id = #{manufacturer_id}
    </select>
    <select id="getAll" resultMap="ManufacturerResultMap">
        SELECT * FROM manufacturers
    </select>
    <select id="getManufacturerAddressByName" parameterType="String" resultType="String">
        SELECT address from manufacturers WHERE name = #{name}
    </select>
</mapper>