<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "org.example.interfaces.IPatientDAO">
    <resultMap id="PatientResultMap" type="Patient">
        <result property="patientID" column="patient_id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="address" column="address"/>
        <association property="physician" column="physician_id"
                     javaType="Physician"
                     select="org.example.interfaces.IPhysicianDAO.getEntityByID"/>
    </resultMap>
    <insert id="saveEntity" keyProperty="patient_id">
        INSERT INTO patients (first_name, last_name, date_of_birth, address, physician_id) VALUES (#{first_name}, #{last_name}, #{date_of_birth}, #{address}, #{physician.physician_id}
    </insert>
    <update id="updateEntity" parameterType="Nurse">
        UPDATE patients SET first_name = #{first_name}, last_name = #{last_name} WHERE patient_id = #{patient_id}
    </update>
    <delete id="removeEntityByID" parameterType="int">
        DELETE FROM patients WHERE patient_id = #{patient_id}
    </delete>
    <select id="getEntityByID" parameterType="int" resultMap="PatientResultMap">
        SELECT * FROM patients WHERE patient_id = #{patient_id}
    </select>
    <select id="getAll" resultMap="PatientResultMap">
        SELECT * FROM patients
    </select>
    <select id="getPatientByPhysicianID" parameterType="int" resultMap="PatientResultMap">
        SELECT * FROM patients WHERE physician_id = #{physician.physician_id}
    </select>
</mapper>