<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "org.example.interfaces.IPrescriptionDAO">
    <resultMap id="PrescriptionResultMap" type="Prescription">
        <result property="prescriptionID" column="prescription_id"/>
        <result property="date" column="date"/>
        <association property="physician" column="physician_id"
                     javaType="Physician"
                     select="org.example.interfaces.IPhysicianDAO.getEntityByID"/>
        <association property="patient" column="patient_id"
                     javaType="Patient"
                     select="org.example.interfaces.IPatientDAO.getEntityByID"/>
        <association property="medication" column="medication_id"
                     javaType="Medication"
                     select="org.example.interfaces.IMedicationDAO.getEntityByID"/>
    </resultMap>
    <insert id="saveEntity" keyProperty="prescription_id">
        INSERT INTO prescriptions (date, physician_id, patient_id, medication_id)
        VALUES (#{date}, #{physician.physician_id}, #{patient.patient_id}, #{medication.medication_id})
    </insert>
    <update id="updateEntity" parameterType="Prescription">
        UPDATE prescriptions
        SET medication_id = #{medicationID}
        WHERE prescription_id = #{prescriptionID}"
    </update>
    <delete id="removeEntityByID" parameterType="int">
        DELETE FROM prescriptions
        WHERE medication_id = #{medication_id}
    </delete>
    <select id="getEntityByID" parameterType="int" resultMap="PrescriptionResultMap">
        SELECT * FROM prescriptions
        WHERE medication_id = #{medication_id}
    </select>
    <select id="getAll" resultMap="PrescriptionResultMap">
        SELECT * FROM prescriptions
    </select>
    <select id="getPrescriptionByPatientID" parameterType="int" resultMap="PrescriptionResultMap">
        SELECT * FROM prescriptions
        WHERE patient_id = #{patient.patientID}
    </select>
</mapper>